body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

/* Дизайн общей информации */

/* Задний фон блока */
.intro-info {
	background-image: url("../../styles/images/Rectangle 1.png");


	width: 100%;
  	top: 0;
  	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	
	margin-bottom: 8%;
}


/* Навигация с логотипом */
.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
}


/* Логотип с названием */
.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;

	padding-left: 1%;
	margin-right: 18%;
}

.company-name {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 700;
	font-size: 1.5vw;
	line-height: 2.7vh;
	text-align: left;

	color: #FFFFFF;
}

/* Меню навигации */

.menu ul {
	display: flex;
	list-style: none;
}

.menu ul:hover a:hover {
	color: #FF8888;
}

.point {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 700;
	font-size: 1.1vw;
	line-height: 20px;

	color: #FFFFFF;

	margin-left: 22.8px;
}

.point a {
	text-decoration: none;
	color: #FFFFFF;
	text-transform: none;
	transition: .25s ease;
}


/* Текст */
.who-we-are {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Montserrat Alternates', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 3rem;
	line-height: 55px;
	text-align: right;

	color: #FFFFFF;

	padding-right: 8%;
}

.info {
	font-family: 'Overpass', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 25px;
	text-align: right;

	color: #FFFFFF;

	padding-right: 8%;
	padding-left: 55%;
	padding-bottom: 5vh;
}


/* Блок с нашими приемуществами */
.advantages{
	width: 100%;

	background-image: url("../../styles/images/smoke-texture-wallpaper-dark-background\ 1.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.block-title {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 700;
	font-size: 3vw;
	line-height: 49px;

	text-align: center;
	color: #FFFFFF;

	padding-top: 3%;
}

.advantages-icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.advantages-icons p {
	width: 23vw;

	text-align: center;

	font-family: 'Overpass';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;

	color: #FFFFFF;

	padding-bottom: 5%;
}

.fast-icon, .cheap-icon, .good-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.fast, .cheaply, .good {
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 50%;

	background-color: #FFFFFF;
	width: 145px;
	height: 145px;
}

/* Круглый текст */
.circle {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
}

.circle-text, .circle-text-second, .circle-text-third {
	position: absolute;
	
	animation: rotateText 10s linear infinite;
}

@keyframes rotateText
{
	0%
	{
		transform: rotate(0);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

.circle-text span, .circle-text-second span, .circle-text-third span {
	position: absolute;
	left: 50%;
	top: -72px;

	font-size: 1.8vw;

	transform-origin: 0 100px;
}

.desc {
	padding-top: 7%;
}


/* Отзывы */
.reviews {
	padding-bottom: 1000px;
}

.reviews p {
	text-align: center;
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 700;
	font-size: 3vw;
	line-height: 49px;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.slider {
	background-color: #a6a6a6;

	position: relative;

	height: 300px;
}

.slider-container {
	position: relative;

	width: 100%;
	height: 100%;

	overflow: hidden;
}

.slide {
	cursor: pointer;

	position: absolute;

	width: 300px;
	height: 150px;

	background-color: white;
	border: 3px solid #333333;

	text-align: center;
	line-height: 100px;
	font-size: 35px;

	transition: all .5s;
}

.slider-nav {
	color: #333333;

	position: absolute;

	font-size: 40px;
}

.action-prev {
	left: 20px;
	bottom: 50%;
}

.action-next {
	right: 20px;
	bottom: 20px;
}