body{
    margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
}


.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	margin-left: 0;
	margin-right: 0;

	background-image: url("../../styles/images/Rectangle 1.png");
	background-size: cover;
	background-repeat: no-repeat;
}


/* Логотип с названием */
.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;

	padding-left: 1%;
	margin-right: 18%;
}

.company-name {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 700;
	font-size: 1.5vw;
	line-height: 2.7vh;
	text-align: left;

	color: #FFFFFF;
}


.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#hamburger-input{
	display: none;
  }
  
  #hamburger-menu {
	  position: fixed;
	  top: 20px;
	  right: 20px;
	  width: 50px;
	  height: 50px;
	  display: none;
	  border: none;
	  padding: 0px;
	  margin: 0px;
	  font-family: 'Cabin', Sans-serif;
	  background: linear-gradient(
		to bottom, 
		#9b9b9b, #9b9b9b 20%, 
		rgb(0, 0, 0) 20%, rgb(0, 0, 0) 40%, 
		#9b9b9b 40%, #9b9b9b 60%, 
		rgb(0, 0, 0) 60%, rgb(0, 0, 0) 80%, 
		#9b9b9b 80%, #9b9b9b 100%
	  );

	  z-index: 999999;
  }
  
  #hamburger-menu #sidebar-menu {
	  visibility: hidden;
	  position: fixed;
	  top: 0;
	  right: -250px;
	  width: 200px;
	  height: 100%;
	  background-color: #8d8d8d;
	  transition: 0.3s;
	  padding: 0px 10px;
	  box-sizing: border-box;
  }
  
  #hamburger-menu h3 {
	color: #ffffff;
	font-size: 2.2rem;
  }
  
  #hamburger-menu ul {
	padding-left: 0px;
  }
  
  #hamburger-menu li {
	list-style-type: none;
	line-height: 3rem;
  }
  
  #hamburger-menu a {
	color: #ffffff;
	font-size: 1.3rem;
	text-decoration: none;
  }
  
  #hamburger-menu a:hover {
	text-decoration: underline;
  }
  
  #hamburger-input:checked + #hamburger-menu #sidebar-menu {
	  visibility: visible;
	  right: 0;
  }
  #hamburger-input:checked ~ .overlay{
	 visibility: visible;
	opacity: 0.4;
  }
  
  
  @media screen and (max-width: 1000px) {
	.menu {
	  display: none;
	}
	#hamburger-menu {
	  display: inline;
	}
  }


.menu ul {
	display: flex;
	list-style: none;
}

.menu ul:hover a:hover {
	color: #FF8888;
}

.point {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 700;
	font-size: 1.1vw;
	line-height: 20px;

	color: #FFFFFF;

	margin-left: 22.8px;
}

.point a {
	text-decoration: none;
	color: #FFFFFF;
	text-transform: none;
	transition: .25s ease;
}


.container{
    background-color: #2F2F2F;	
    margin: 0;
    width: 100%;
    height: 40vh;
    padding-top: 2%;
	text-align: center;
    box-shadow: inset 1px 1px 150px 100px rgba(0, 0, 0, 0.586);
    
}
h1{
    font-family: 'Montserrat Alternates';

	color: #FFFFFF;
}
.serve{
    font-family: 'Overpass';
	font-style: normal;
    font-weight: 100;
	font-size: 1rem;
	line-height: 20px;
    color: #FFFFFF;
    padding: 0 37% 0 37%;
}

.buttons{
    background-color: black;
    text-align: center;
    margin: -5% 0 0 17%;
    padding: 5% 0 3% 0;
    width: 65vw;
    height: 40vh;
    
}

.button{
    display: inline-block;
    inline-size: 30%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    
}



/* button{
    
    margin: 15% 0 0 5%;
    width: 50%;
    height: 4vh;
    border-radius: 1vb;
    padding: 6% 0 6% 0;
    cursor: pointer;
    
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 3px;
    
} */

button {
    margin: 30% 0 0 -1%;
    width: 60%;
    height: 5vh;
    border-radius: 1vb;
    padding: 6% 6% 6% 6%;
    cursor: pointer;
    
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 3px;

   
    border: none;
    outline: none;
    color: #000000;
    background: #ffffff;

    position: relative;
    z-index: 0;
    
}

button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 1vb;
    
}

button:active {
    color: #000000
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.brand{
    margin: 5% 0 0 0;
    padding: 0 9% 0 0;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.text{
    padding: 0 10% 10% 15%;
}

h2{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

.txt{
    margin-top: 15%;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.market{
    margin: 5% 0 0 0;
    padding: 0 0 0 10%;
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
}

.video{
    margin: 5% 0 0 0;
    padding: 0 10% 0 0;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.clients{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    margin-top: 20%;
    text-align: center;
    padding: 0 0 5% 0;
}

footer {
	width: 100%;

	padding-top: 4%;
	padding-bottom: 3%;

	background-color: #2F2F2F;

	display: flex;
	justify-content: space-around;
}

footer img {
	width: 25px;
	height: 25px;

	padding-right: 15px;
}

.title-footer {
	text-align: center;
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 700;
	font-size: 2.5vw;
	line-height: 49px;
	color: #FFFFFF;
}

.mail {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 700;
	font-size: 1.7vw;
	line-height: 49px;
	color: #FFFFFF;
}

.address {
	font-family: Montserrat Alternates;
	font-weight: 500;
	font-style: normal;
	font-size: 1.5vw;
	line-height: 49px;
	color: #FFFFFF;
}

.telephone {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 700;
	font-size: 1.7vw;
	line-height: 49px;
	color: #FFFFFF;
}

.whatsapp {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 700;
	font-size: 1.7vw;
	line-height: 49px;
	color: #FFFFFF;
}



.social-icons {
	padding-top: 25px;
}

.social-icons img {
	width: 40px;
	height: 40px;
}